.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.local
.env.*.local
frontend/node_modules
node_modules
app/static/diagnosis-wizard/*
instance/logs/*
flask_run.log
docker-compose.yml
Dockerfile
.dockerignore
